<div class="placeholderContainer">
    <img src="../../../assets/images/whatsapp-web-picture.png" alt="">
    <div class="placeholder-details">
        <div class="whatsapp-web-new">
            <div class="whatsapp-web-new-title">
                <h1>WhatsApp Web</h1>
                <img src="../../../assets/images/icons/new.png" alt="">
            </div>
            <p>Now send and receive messages without keeping your phone online.</p>
            <p>Use WhatsApp on up to 4 linked devices and 1 phone at the same time.</p>
        </div>

        <div class="whatsapp-web-footer">
            <div class="desktop-for-mac">
                <img src="../../../assets/images/icons/laptop-mac.svg" alt="">
                <p>Make calls from desktop with WhatsApp for Mac. <a href="https://github.com/DavidCWHung">Get it here.</a></p>
            </div>
            <div class="encryption">
                <img src="../../../assets/images/icons/lock.svg" alt="">
                <p>End-to-end encrypted</p>
            </div>
        </div>
       

    </div>
</div>