#background_header {
    width: 100%;
    height: 15vh;
    background-color: #01a884;
}

#background_body {
    height: 85vh;
    background-color: #e0e0de;
}

#chat {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 70%;
    height: 90%;
    background-color: white;
    box-shadow: 0px 2px 2px #d5d5d5;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    app-sidebar {
        flex-basis: 30%;
        display: block;
    }

}

